* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #4682B4;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 2;

}
body{
    margin-top: 100px;
}
/* Logo Container Styles */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px 5px; 
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Search Form Styles */
.search-form {
    margin-left: auto;
    position: relative; 
}

.search-input {
    display: block;
    padding: 5px 30px 5px 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 200px;
}

.search-button {
    position: absolute; 
    right: 5px; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #333;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1; 
}

/* Navigation Styles */
#nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    gap: 70px; 
}

#nav ul li {
    margin-right: 15px;
}
#nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    transition: background-color 0.3s; 
    background-color: transparent;
}

/* Hover Effect */
#nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px; 
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .logo-container {
        padding: 0 4%; 
    }
}

@media (max-width: 992px) {
    .logo-container {
        padding: 0 3%; 
    }

    #nav ul {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .logo-container {
        padding: 0 2%; 
    }

    .search-input {
        width: 150px;
        display: none;
    }
    .search-button {
        top: 20px;
        padding: 4px;
    }

    #nav ul {
        gap: 30px;
    }

    #nav ul li a {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .logo-container {
        padding: 0 1%; 
    }

    #nav ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .search-input {
        width: calc(100% - 40px); 
        padding-right: 10px;
    }

    #nav ul li {
        margin: 10px 0;
    }

}
#nav ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #0056b3;
}

/* Page Container */
.page_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: 100%;
}

.footer_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.upload-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.upload-btn {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #0056b3;
} 


